.product-list-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 24px;
}
